<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Home</title>

</head>

<body>
    <%- include("./partials/navbar") %>

        <%= JSON.stringify(user) %>
            <div class="container">
                <form action="/addblog" method="post" enctype="multipart/form-data" >
                    <div class="mb-3">
                        <label for="coverImageURL" class="form-label">Choose you cover image for your blog</label>
                        <input class="form-control" type="file" id="coverImageURL" name="coverImageURL" required>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Write your blog content</label>
                        <textarea class="form-control" id="body" rows="6" name="body" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <%- include("./partials/scripts") %>
</body>

</html>